/SportInfoHK/vendor/*
/SportInfoHK/logs/*
/SportInfoHK/DB/*-local.json
/SportInfoHK/DB/Events/*
/SportInfoHK/DB/Teams/*
/SportInfoHK/config-local.ini
/SportInfoHK/Events.ini
/nginx/html/LogoPlaceLocal/*
/nginx/html/LogoTeamLocal/*
/nginx/html/PhotoPlayersLocal/*
/nginx/html/*-local.html
/nginx/html/js/*-local.js
/nginx/html/fontawesome/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# Built Visual Studio Code Extensions
*.vsix
*.bak