/SportInfoHK/vendor/*
/SportInfoHK/logs/*
/SportInfoHK/DB/DB.json
/SportInfoHK/DB/GameName-local.json
/SportInfoHK/DB/GamePlace-local.json
/SportInfoHK/DB/Teams-local.json
/SportInfoHK/DB/TeamsStartList-local.json
/SportInfoHK/config-local.ini
/SportInfoHK/Events.ini
/SportInfoHK/GameName-local.json
/SportInfoHK/GamePlace-local.json
/SportInfoHK/Player-local.json
/nginx/html/LogoPlaceLocal/*
/nginx/html/LogoTeamLocal/*
/nginx/html/*-local.html
